{% extends 'base.html' %}
{% load static %}
{% block head%} 
<title> Contact us</title>
{% endblock %}

{% block content %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>
</div>
<!-- Navbar & Hero End -->


<!-- Contact Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
        <h1 class="mb-5">Contact For Any Query</h1>
    </div>
    <div class="row g-4">
        <div class="col-12">
            <div class="row gy-4">
                <div class="col-md-4">
                    <h5 class="section-title ff-secondary fw-normal text-start text-primary">Booking</h5>
                    <p><i class="fa fa-envelope-open text-primary me-2"></i>saifhosari@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h5 class="section-title ff-secondary fw-normal text-start text-primary">General</h5>
                    <p><i class="fa fa-envelope-open text-primary me-2"></i>saifhosari@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h5 class="section-title ff-secondary fw-normal text-start text-primary">Technical</h5>
                    <p><i class="fa fa-envelope-open text-primary me-2"></i>tech_saif@gmail.com</p>
                </div>
            </div>
        </div>
    
  
    </div>
</div>
</div>
<!-- Contact End -->

{% endblock %}